body {
    font-weight: 600;
    height: 100%;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Work Sans", sans-serif;
}

.container{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 600;
    position: relative;
}

.logo {
    float: left;
    padding-top: 6px;
    margin-bottom: 18px;
}

.container li {
    margin-left: 1.5rem;
}

.btn {
    display: inline-block;
	font-size: 16px;
	font-weight: 600;
	padding: 12px 40px;
    margin-left: 13px;
	color: #ffffff;
	text-align: center;
	border-radius: 50px;
	background-image: -webkit-gradient(linear, left top, right top, from(#6ac045), to(#cce2ff)), -webkit-gradient(linear, left top, right top, from(#6ac045), to(#cce2ff));
	background-image: -o-linear-gradient(left, #6ac045 0%, #6ac045), -o-linear-gradient(left, #6ac045 0%, #6ac045);
	background-image: linear-gradient(to right, #6ac045 0%, #6ac045), linear-gradient(to right, #6ac045 0%, #6ac045);
}

.hero-section {
	padding-top: 40px;
}

.hero-section .hero-text {
	padding-top: 64px;
}

.hero-section .hero-text span {
	font-size: 16px;
	color: #6ac045;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.hero-section .hero-text h2 {
	font-size: 60px;
	color: #ffffff;
	line-height: 72px;
	font-weight: 600;
	margin-top: 24px;
	margin-bottom: 35px;
}

.counter-section {
	padding: 40px 0;
}

.counter-section .counter-text span {
	font-size: 16px;
	color: #ffffff;
}

.counter-section .counter-text h3 {
	color: #ffffff;
	font-weight: 700;
	line-height: 38px;
	margin-top: 10px;
}

.counter-section .cd-timer {
	text-align: right;
}

.counter-section .cd-timer .cd-item {
	display: inline-block;
	text-align: center;
	margin-left: 35px;
	height: 120px;
	width: 110px;
	padding-top: 32px;
	position: relative;
}

.counter-section .cd-timer .cd-item:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 2px solid #ffffff;
	content: "";
	opacity: 0.1;
	border-radius: 4px;
}

.counter-section .cd-timer .cd-item:first-child {
	margin-left: 0;
}

.counter-section .cd-timer .cd-item span {
	font-size: 60px;
	color: #ffffff;
	font-weight: 600;
	line-height: 30px;
}

.counter-section .cd-timer .cd-item p {
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 0;
	line-height: 30px;
}


.home-about-section {
	padding-bottom: 90px;
}

.ha-pic {
	-webkit-box-shadow: 0px 0px 30px rgba(11, 12, 48, 0.15);
	box-shadow: 0px 0px 30px rgba(11, 12, 48, 0.15);
	margin-right: 30px;
}

.ha-pic img {
	min-width: 100%;
	border-radius: 2px;
    width: 1.5rem;
    overflow:scroll;
}

.ha-text {
	padding-top: 74px;
    padding-left: 16px;
}

.ha-text h2 {
	color: #171822;
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 32px;
}

.ha-text p {
	margin-bottom: 21px;
}

.ha-text ul {
	margin-bottom: 27px;
}

.ha-text ul li {
	list-style: none;
	font-size: 16px;
	line-height: 30px;
	color: #6a6b7c;
}

.ha-text ul li span {
	color: #6ac045;
}

.ha-text .ha-btn {
	font-size: 16px;
	color: #171822;
	font-weight: 600;
	position: relative;
}

.ha-text .ha-btn:before {
	position: absolute;
	left: 0;
	bottom: -6px;
	height: 2px;
	width: 100%;
	background: #6ac045;
	content: "";
}

.pricing-section {
	padding-top: 90px;
	padding-bottom: 80px;
}

.pricing-section .section-title {
	margin-bottom: 88px;
}

.pricing-section .section-title h2 {
	color: #ffffff;
}

.pricing-section .section-title p {
	color: #a0a1b5;
}

.price-item {
	background: #ffffff;
	text-align: center;
	padding-top: 34px;
	padding-bottom: 18px;
	position: relative;
	border-radius: 2px;
	margin-bottom: 40px;
}

.price-item.top-rated {
	margin-top: -36px;
}

.price-item .tr-tag {
	width: 28px;
	height: 50px;
	line-height: 38px;
	-webkit-clip-path: polygon(100% 0%, 100% 100%, 50% 65%, 0% 100%, 0% 0%);
	clip-path: polygon(100% 0%, 100% 100%, 50% 65%, 0% 100%, 0% 0%);
	position: absolute;
	right: 26px;
	top: 0;
}

.price-item .tr-tag i {
	color: #ffffff;
}

.price-item h4 {
	color: #171822;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 26px;
}

.price-item .pi-price {
	padding-top: 16px;
	padding-bottom: 14px;
	margin-bottom: 38px;
}

.price-item .pi-price h2 {
	font-size: 60px;
	color: #ffffff;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	display: inline-block;
	position: relative;
	padding-left: 20px;
}

.price-item .pi-price h2 span {
	font-size: 30px;
	position: absolute;
	left: 0px;
	top: 9px;
}

.price-item ul li {
	list-style: none;
	font-size: 16px;
	color: #6a6b7c;
	line-height: 38px;
}

.price-item .price-btn {
	font-size: 16px;
	color: #171822;
	font-weight: 600;
	display: inline-block;
	background: #ffffff;
	padding: 10px 85px;
	border-radius: 50px;
	-webkit-box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
	position: relative;
	bottom: -39px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.price-item .price-btn:hover {
	color: #ffffff;
}

.price-item .price-btn:hover span {
	color: #ffffff;
}

.price-item .price-btn span {
	color: #6ac045;
	position: relative;
	top: 3px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}


@media only screen and (max-width: 767px) {
	.counter-section .cd-timer .cd-item {
		margin-bottom: 10px;
	}
}
.latest-blog {
	background: #f4f6f8;
	padding-bottom: 160px;
}

.latest-item {
	height: 255px;
	position: relative;
	margin-bottom: 40px;
	margin-left: 15px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 30px rgba(79, 84, 139, 0.15);
	box-shadow: 0px 0px 30px rgba(79, 84, 139, 0.15);
}

.latest-item.large-item {
	height: 550px;
	margin-right: 15px;
	margin-left: 0;
}

.latest-item.large-item .li-tag {
	left: 40px;
	top: 40px;
}

.latest-item.large-item .li-text {
	padding: 0 40px;
	bottom: 35px;
}

.latest-item.large-item .li-text h4 {
	margin-bottom: 17px;
}

.latest-item.large-item .li-text h4 a {
	color: #ffffff;
	font-weight: 600;
	line-height: 36px;
}

.latest-item.large-item .li-text span {
	font-size: 16px;
	color: #ffffff;
}

.latest-item.large-item .li-text span i {
	color: #6ac045;
}

.latest-item .li-tag {
	font-size: 14px;
	color: #ffffff;
	display: inline-block;
	padding: 5px 18px;
	border-radius: 2px;
	position: absolute;
	left: 30px;
	top: 30px;
}

.latest-item .li-text {
	position: absolute;
	left: 0;
	bottom: 26px;
	width: 100%;
	padding: 0 30px;
}

.latest-item .li-text h5 {
	margin-bottom: 5px;
}

.latest-item .li-text h5 a {
	display: block;
	color: #ffffff;
	font-weight: 600;
	line-height: 30px;
}

.latest-item .li-text span {
	font-size: 14px;
	color: #ffffff;
}

.latest-item .li-text span i {
	color: #6ac045;
}