body {
    font-weight: 600;
    height: 100%;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Work Sans", sans-serif;
}

.container{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 600;
    position: relative;
}

.logo {
    float: left;
    padding-top: 6px;
    margin-bottom: 18px;
}

.container li {
    margin-left: 1.5rem;
}

.btn {
    display: inline-block;
	font-size: 16px;
	font-weight: 600;
	padding: 12px 40px;
    margin-left: 13px;
	color: #ffffff;
	text-align: center;
	border-radius: 50px;
	background-image: -webkit-gradient(linear, left top, right top, from(#6ac045), to(#cce2ff)), -webkit-gradient(linear, left top, right top, from(#6ac045), to(#cce2ff));
	background-image: -o-linear-gradient(left, #6ac045 0%, #6ac045), -o-linear-gradient(left, #6ac045 0%, #6ac045);
	background-image: linear-gradient(to right, #6ac045 0%, #6ac045), linear-gradient(to right, #6ac045 0%, #6ac045);
}

.hero-section {
	padding-top: 40px;
}

.hero-section .hero-text {
	padding-top: 64px;
}

.hero-section .hero-text span {
	font-size: 16px;
	color: #6ac045;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.hero-section .hero-text h2 {
	font-size: 60px;
	color: #ffffff;
	line-height: 72px;
	font-weight: 600;
	margin-top: 24px;
	margin-bottom: 35px;
}

.counter-section {
	padding: 40px 0;
}

.counter-section .counter-text span {
	font-size: 16px;
	color: #ffffff;
}

.counter-section .counter-text h3 {
	color: #ffffff;
	font-weight: 700;
	line-height: 38px;
	margin-top: 10px;
}

.counter-section .cd-timer {
	text-align: right;
}

.counter-section .cd-timer .cd-item {
	display: inline-block;
	text-align: center;
	margin-left: 35px;
	height: 120px;
	width: 110px;
	padding-top: 32px;
	position: relative;
}

.counter-section .cd-timer .cd-item:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 2px solid #ffffff;
	content: "";
	opacity: 0.1;
	border-radius: 4px;
}

.counter-section .cd-timer .cd-item:first-child {
	margin-left: 0;
}

.counter-section .cd-timer .cd-item span {
	font-size: 60px;
	color: #ffffff;
	font-weight: 600;
	line-height: 30px;
}

.counter-section .cd-timer .cd-item p {
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 0;
	line-height: 30px;
}


.home-about-section {
	padding-bottom: 90px;
}

.ha-pic {
	-webkit-box-shadow: 0px 0px 30px rgba(11, 12, 48, 0.15);
	box-shadow: 0px 0px 30px rgba(11, 12, 48, 0.15);
	margin-right: 30px;
}

.ha-pic img {
	min-width: 100%;
	border-radius: 2px;
    width: 1.5rem;
    overflow:scroll;
}

.ha-text {
	padding-top: 74px;
    padding-left: 16px;
}

.ha-text h2 {
	color: #171822;
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 32px;
}

.ha-text p {
	margin-bottom: 21px;
}

.ha-text ul {
	margin-bottom: 27px;
}

.ha-text ul li {
	list-style: none;
	font-size: 16px;
	line-height: 30px;
	color: #6a6b7c;
}

.ha-text ul li span {
	color: #6ac045;
}

.ha-text .ha-btn {
	font-size: 16px;
	color: #171822;
	font-weight: 600;
	position: relative;
}

.ha-text .ha-btn:before {
	position: absolute;
	left: 0;
	bottom: -6px;
	height: 2px;
	width: 100%;
	background: #6ac045;
	content: "";
}

@media only screen and (max-width: 767px) {
	.counter-section .cd-timer .cd-item {
		margin-bottom: 10px;
	}
}